.App {
  font-family: "Inter", "Arial", sans-serif;
  /* font-weight: 400;
  font-size: 13px; */
  /* color: #000;
  box-sizing: border-box; */
  width: 100%;
  /* background: #202020; */
}

.title {
  color: #55D706;
  font-style: normal;
  font-weight: 500;
  font-size: 75px;
  line-height: 75px;
  text-align: center;
  margin: 50px 0 20px;
  padding: 0;
}

.description {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
  margin: 0 0 20px 0;
}

.error-form {
  
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  width: 461px;
  height: 50px;
  text-align: center;
  font-variant: small-caps;
  margin: 0 auto 20px;
  color: #ff0000;
}

.done-form {
  
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  width: 332px;
  height: 25px;
  text-align: center;
  font-variant: small-caps;
  margin: auto;
  color: #FFFFFF;
}

.error-email {
  text-decoration: none;
  color: #55D706;
}

@media screen and (max-width: 767px) {
    
  .title {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 35px;
    margin: 43px auto 5px;
  }

  .description {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    padding: 0;
    margin: 0;
  }

  .error-form {
    width: 220px;
    font-size: 15px;
    line-height: 15px;
    margin: 10px auto 0;
    height: 45px;
  }

  .done-form {
    width: 220px;
    font-size: 15px;
    line-height: 15px;
  }

}